body {
	background-color: black;
	color: white;
}

#timer-content {
	text-align: center;
	padding-top: 100px;
	vertical-align: center;
	height: 675px;
	background-color: black;
    color: white;
    margin: 0 auto;
    max-width: 650px;
    

}

.timer-display {
	font-family: sans-serif;
}

.button {
	border-color: white;
	color: white;
}

#timer-start-stop {
	width: 200px;
	
	

}

.no-outline {
	border-width: 0;
	font-size: 2rem;
	font-family: sans-serif;

}

#percent-complete {
	color: white;
}

.row {
	font-family: sans-serif;

}

.plus {
	text-align: center;
	margin-right: 0;
	border-color: transparent;
}

.minus {
	text-align: left;
	margin-left: 0;
	border-color: transparent;
}

.minutes {
	padding: 0px;
	margin: 0;
}

.minutes-label {
	margin-top: 20px;
	margin-bottom: 8px;
}

.cluster {
	list-style-type: none;
    
    padding: 0;
    
}




